## 데이터 확인

In [2]:
import pandas as pd
data=pd.read_csv("/Users/min0/Documents/Documents/school/4-1/빅데이터/자료/week13/mtcars.csv")
print(data)

dir(pd)
pd.read_csv.__doc__
print(pd.read_csv.__doc__)
print(pd.DataFrame.head.__doc__)

print(data.head())
print(data.shape)
print(type(data))
print(data.columns)
print(data.describe())
print(data['hp'].describe())
print(data['gear'].unique())
print(data['cyl'].unique())

print(data.info())

#print(data.corr())

             Unnamed: 0   mpg   cyl   disp   hp  drat     wt    qsec  vs
0             Mazda RX4  21.0   6.0  160.0  110  3.90  2.620   16.46   0  \
1         Mazda RX4 Wag  21.0   6.0  160.0  110  3.90  2.875   17.02   0
2            Datsun 710  22.8   4.0  108.0   93  3.85  2.320   18.61   1
3        Hornet 4 Drive  21.4   6.0  258.0  110  3.08  3.215    0.10   1
4     Hornet Sportabout  18.7   8.0  360.0  175  3.15  3.440   17.02   0
5               Valiant  18.1   6.0  225.0  105  2.76  3.460   20.22   1
6            Duster 360  14.3   8.0  360.0  245  3.21  3.570   15.84   0
7             Merc 240D  24.4   NaN  146.7   62  3.69  3.190   20.00   1
8              Merc 230  22.8   4.0  140.8   95  3.92  3.150   22.90   1
9              Merc 280  19.2   6.0  167.6  123  3.92  3.440   18.30   1
10            Merc 280C  17.8   6.0  167.6  123  3.92  3.440     NaN   1
11           Merc 450SE  16.4   8.0  275.8  180  3.07  4.070   17.40   0
12           Merc 450SL  17.3   8.0  275.8  180  3.07  3.730   17.60   0
13          Merc 450SLC  15.2   8.0  275.8  180  3.07  3.780   18.00   0
14   Cadillac Fleetwood  10.4  50.0  472.0  205  2.93  5.250   17.98   0
15  Lincoln Continental  10.4   8.0  460.0  215  3.00  5.424   17.82   0
16    Chrysler Imperial  14.7   8.0  440.0  230  3.23  5.345   17.42   0
17             Fiat 128  32.4   4.0   78.7   66  4.08  2.200   19.47   1
18          Honda Civic  30.4   4.0   75.7   52  4.93  1.615   18.52   1
19       Toyota Corolla  33.9   4.0   71.1   65  4.22  1.835   19.90   1
20        Toyota Corona  21.5   4.0  120.1   97  3.70  2.465   20.01   1
21     Dodge Challenger  15.5   8.0  318.0  150  2.76  3.520   16.87   0
22          AMC Javelin  15.2   8.0  304.0  150  3.15  3.435   17.30   0
23           Camaro Z28  13.3   8.0  350.0  245  3.73  3.840   15.41   0
24     Pontiac Firebird  19.2   NaN  400.0  175  3.08  3.845  100.00   0
25            Fiat X1-9  27.3   4.0   79.0   66  4.08  1.935   18.90   1
26        Porsche 914-2  26.0   4.0  120.3   91  4.43  2.140   16.70   0
27         Lotus Europa  30.4   4.0   95.1  113  3.77  1.513   16.90   1
28       Ford Pantera L  15.8   8.0  351.0  264  4.22  3.170   14.50   0
29         Ferrari Dino  19.7   6.0  145.0  175  3.62  2.770   15.50   0
30        Maserati Bora  15.0   8.0  301.0  335  3.54  3.570   14.60   0
31           Volvo 142E  21.4   4.0  121.0  109  4.11  2.780   18.60   1

        am gear  carb
0   manual    4     4
1   manual    4     4
2   manual    4     1
3     auto    3     1
4     auto    3     2
5     auto    3     1
6     auto    3     4
7     auto    4     2
8     auto    4     2
9     auto    4     4
10    auto    4     4
11    auto    3     3
12    auto   *3     3
13    auto    3     3
14    auto    3     4
15    auto    3     4
16    auto    3     4
17  manual    4     1
18  manual    4     2
19  manual    4     1
20    auto    3     1
21    auto    3     2
22    auto    3     2
23    auto    3     4
24    auto    3     2
25  manual    4     1
26  manual    5     2
27  manual    5     2
28  manual   *5     4
29  manual    5     6
30  manual    5     8
31  manual    4     2

Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, None, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, optional, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.

    .. versionadded:: 1.5.0

        Support for defaultdict was added. Specify a defaultdict as input where
        the default determines the dtype of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The "pyarrow" engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True in addition to case-insensitive variants of "True".
false_values : list, optional
    Values to consider as False in addition to case-insensitive variants of "False".
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
    key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional, default "utf-8"
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new list of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine="python"``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'	'``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this

In [3]:
X=data.drop(columns='mpg') # DateFrame
X

,Unnamed: 0,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2
5,Valiant,6.0,225.0,105,2.76,3.460,20.22,1,auto,3,1
6,Duster 360,8.0,360.0,245,3.21,3.570,15.84,0,auto,3,4
7,Merc 240D,NaN,146.7,62,3.69,3.190,20.00,1,auto,4,2
8,Merc 230,4.0,140.8,95,3.92,3.150,22.90,1,auto,4,2
9,Merc 280,6.0,167.6,123,3.92,3.440,18.30,1,auto,4,4
10,Merc 280C,6.0,167.6,123,3.92,3.440,NaN,1,auto,4,4
11,Merc 450SE,8.0,275.8,180,3.07,4.070,17.40,0,auto,3,3
12,Merc 450SL,8.0,275.8,180,3.07,3.730,17.60,0,auto,*3,3
13,Merc 450SLC,8.0,275.8,180,3.07,3.780,18.00,0,auto,3,3
14,Cadillac Fleetwood,50.0,472.0,205,2.93,5.250,17.98,0,auto,3,4
15,Lincoln Continental,8.0,460.0,215,3.00,5.424,17.82,0,auto,3,4
16,Chrysler Imperial,8.0,440.0,230,3.23,5.345,17.42,0,auto,3,4
17,Fiat 128,4.0,78.7,66,4.08,2.200,19.47,1,manual,4,1
18,Honda Civic,4.0,75.7,52,4.93,1.615,18.52,1,manual,4,2
19,Toyota Corolla,4.0,71.1,65,4.22,1.835,19.90,1,manual,4,1
20,Toyota Corona,4.0,120.1,97,3.70,2.465,20.01,1,auto,3,1
21,Dodge Challenger,8.0,318.0,150,2.76,3.520,16.87,0,auto,3,2
22,AMC Javelin,8.0,304.0,150,3.15,3.435,17.30,0,auto,3,2
23,Camaro Z28,8.0,350.0,245,3.73,3.840,15.41,0,auto,3,4
24,Pontiac Firebird,NaN,400.0,175,3.08,3.845,100.00,0,auto,3,2
25,Fiat X1-9,4.0,79.0,66,4.08,1.935,18.90,1,manual,4,1
26,Porsche 914-2,4.0,120.3,91,4.43,2.140,16.70,0,manual,5,2
27,Lotus Europa,4.0,95.1,113,3.77,1.513,16.90,1,manual,5,2
28,Ford Pantera L,8.0,351.0,264,4.22,3.170,14.50,0,manual,*5,4
29,Ferrari Dino,6.0,145.0,175,3.62,2.770,15.50,0,manual,5,6
30,Maserati Bora,8.0,301.0,335,3.54,3.570,14.60,0,manual,5,8
31,Volvo 142E,4.0,121.0,109,4.11,2.780,18.60,1,manual,4,2

In [4]:
Y=data['mpg'] # Series # 연비, 마일 퍼 갤론, 우리나라로 하면 리터 당 몇 미터 달리느냐
Y

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

## 데이터 전처리

In [5]:
# 필요없는 열 삭제 - 'Unnamed: 0' 자동차 이름
X=X.iloc[:, 1:]

# cyl에 null값 있는지 확인 - 평균값으로 대치
X.isnull()
X.isnull().sum()
X_cyl_mean=X['cyl'].mean()
X['cyl']=X['cyl'].fillna(X_cyl_mean)

# qsec도 null 확인하고 미디언값으로 변경
X.isnull()
X.isnull().sum()
X_cyl_median=X['qsec'].median()
X['qsec']=X['qsec'].fillna(X_cyl_median)

# 널값 없지만 널 있는 행 있으면 지우기..해봤자임ㅋ
X=X.dropna()

# 잘못된 값 바꾸기 '*3'->'3'
print(X['gear'].unique())
X['gear']=X['gear'].replace('*3', '3').replace('*5', 5)
print(X.info())

# 'cyl' 최대치 이상값 처리: cyl 값이 4, 6, 8, 7.6인데 갑자기 50!!이 있음: x['cyl'].unigue()로 확인 가능
X_describe=X.describe()
# iqr: 75%-25%
# 이 값의 1.5%위에 있는 값은 이상치라고 함
# 이상차인 값을 최대값으로 대치해줌(값이 너무 크니까 허용 가능한 범위에서 젤 큰 값으로 변경)
X_iqr=X_describe.loc['75%']-X_describe.loc['25%']
X_iqrmax=X_describe.loc['75%']+(1.5*X_iqr)
X_cyl_list=X.index[X['cyl']>X_iqrmax['cyl']].tolist()
X.loc[X_cyl_list, 'cyl']=X_iqrmax['cyl']

# 'hp' 최소치 이상값 처리
X_describe=X.describe()
#X_iqr=X_describe.loc['75%']-X_describe.loc['25%']
X_hpmin=X_describe.loc['25%']-(1.5*X_iqr)
X_hp_list=X.index[X['hp']<X_hpmin['hp']].tolist()
X.loc[X_hp_list, 'hp']=X_hpmin['hp']

['4' '3' '*3' '5' '*5']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     int64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     int64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.6+ KB
None

In [7]:
# 위의 것을 함수로 만들면 아래와 같음
#  최대치, 최소치 이상값 처리
# outlier 찾아보기
def outlier(data, column):
    mean=data[column].mean()
    std=data[column].std()
    lowest=mean-(std*1.5)
    highest=mean+(std*1.5)
    print('최소', lowest, '최대', highest)
    outlier_index=data[column][ (data[column] < lowest) | (data[column] > highest)].index
    return outlier_index

print(outlier(X,'qsec'))
X.loc[24,'qsec']=42.245
#print(X.loc[outlier(X,'qsec'), 'qsec'])
print(outlier(X,'carb'))
X.loc[29,'carb']=5.235
X.loc[30,'carb']=5.235
#print(X.loc[outlier(X,'carb'), 'carb'])

최소 9.453277359759598 최대 26.528910140240406
Index([3, 24], dtype='int64')
최소 0.7014403172418895 최대 4.70293468275811
Index([29, 30], dtype='int64')

In [9]:
pip install sklearn

Requirement already satisfied: sklearn in /Users/min0/Downloads/anaconda3/lib/python3.9/site-packages (0.0.post4)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# 데이터 스케일링
# 어떤 컬럼은 0~10 단위 어떤 컬럼은 100~300 단위. 이 변수들을 모두 같은 범위에 들어가도록 표준화.
import sklearn
dir(sklearn)
print(sklearn.__doc__)
sklearn.__all__

from sklearn import preprocessing
dir(sklearn.preprocessing)

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
temp=X[['qsec']]
scaler.fit_transform(temp)
qsec_s_scaler=pd.DataFrame(scaler.fit_transform(temp))
print(qsec_s_scaler.describe())
X['qsec']=qsec_s_scaler

# 데이터타입 변경
print(X.info())
X['gear']=X['gear'].astype('object')

# 인코딩 방법 여러개인데 암거나 ㄱ.. 다 해도 되고
# am이 auto랑 뭐랑 해서 문자열 2개의 값인데 이걸 01로 변경
# 1. 인코딩 - One-Hot Encoding
pd.get_dummies(X['am'])
pd.get_dummies(X['am'], drop_first=True)
pd.get_dummies(X, drop_first=True)
# 2. 인코딩 - Label Encoding
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder() 
print(encoder.fit_transform(X['am']))
# 3. 인코딩 - replace
X['am'].replace('manual',0).replace('auto', 1) 
X=X.drop(columns='am')

# wt 변수가 3.3 이하면 0, 이상이면 1로 변경. 무거운 거 가벼운 거.
#파생변수 만들기
X['wt'] < 3.3
X.loc[ X['wt'] < 3.3, 'wt_class']=0
X.loc[ X['wt'] >= 3.3, 'wt_class']=1

# qsec도 뭐 4 곱해서 변경...
X['qsec_4']=X['qsec']*4
X.drop(columns='qsec')

Machine learning module for Python
==================================

sklearn is a Python module integrating classical machine
learning algorithms in the tightly-knit world of scientific Python
packages (numpy, scipy, matplotlib).

It aims to provide simple and efficient solutions to learning problems
that are accessible to everybody and reusable in various contexts:
machine-learning as a versatile tool for science and engineering.

See http://scikit-learn.org for complete documentation.

                  0
count  3.200000e+01
mean  -1.804112e-16
std    1.016001e+00
min   -3.193563e+00
25%   -2.077017e-01
50%   -6.981029e-02
75%    1.234161e-01
max    4.329326e+00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     int64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(6), int64(2), object(2)
memory usage: 2.6+ KB
None
[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

     cyl   disp   hp  drat     wt  vs gear   carb  wt_class     qsec_4
0    6.0  160.0  110  3.90  2.620   0    4  4.000       0.0  -1.093202
1    6.0  160.0  110  3.90  2.875   0    4  4.000       0.0  -0.693362
2    4.0  108.0   93  3.85  2.320   1    4  1.000       0.0   0.441899
3    6.0  258.0  110  3.08  3.215   1    3  1.000       0.0 -12.774252
4    8.0  360.0  175  3.15  3.440   0    3  2.000       1.0  -0.693362
5    6.0  225.0  105  2.76  3.460   1    3  1.000       1.0   1.591440
6    8.0  360.0  245  3.21  3.570   0    3  4.000       1.0  -1.535882
7    7.6  146.7   62  3.69  3.190   1    4  2.000       0.0   1.434360
8    4.0  140.8   95  3.92  3.150   1    4  2.000       0.0   3.504962
9    6.0  167.6  123  3.92  3.440   1    4  4.000       1.0   0.220559
10   6.0  167.6  123  3.92  3.440   1    4  4.000       1.0  -0.279241
11   8.0  275.8  180  3.07  4.070   0    3  3.000       1.0  -0.422041
12   8.0  275.8  180  3.07  3.730   0    3  3.000       1.0  -0.279241
13   8.0  275.8  180  3.07  3.780   0    3  3.000       1.0   0.006359
14  14.0  472.0  205  2.93  5.250   0    3  4.000       1.0  -0.007921
15   8.0  460.0  215  3.00  5.424   0    3  4.000       1.0  -0.122161
16   8.0  440.0  230  3.23  5.345   0    3  4.000       1.0  -0.407761
17   4.0   78.7   66  4.08  2.200   1    4  1.000       0.0   1.055940
18   4.0   75.7   52  4.93  1.615   1    4  2.000       0.0   0.377639
19   4.0   71.1   65  4.22  1.835   1    4  1.000       0.0   1.362960
20   4.0  120.1   97  3.70  2.465   1    3  1.000       0.0   1.441500
21   8.0  318.0  150  2.76  3.520   0    3  2.000       1.0  -0.800462
22   8.0  304.0  150  3.15  3.435   0    3  2.000       1.0  -0.493441
23   8.0  350.0  245  3.73  3.840   0    3  4.000       1.0  -1.842903
24   7.6  400.0  175  3.08  3.845   0    3  2.000       1.0  17.317304
25   4.0   79.0   66  4.08  1.935   1    4  1.000       0.0   0.648960
26   4.0  120.3   91  4.43  2.140   0    5  2.000       0.0  -0.921842
27   4.0   95.1  113  3.77  1.513   1    5  2.000       0.0  -0.779042
28   8.0  351.0  264  4.22  3.170   0    5  4.000       0.0  -2.492643
29   6.0  145.0  175  3.62  2.770   0    5  5.235       0.0  -1.778642
30   8.0  301.0  335  3.54  3.570   0    5  5.235       1.0  -2.421243
31   4.0  121.0  109  4.11  2.780   1    4  2.000       0.0   0.434759

## 학습

In [17]:
# 학습데이터/테스트데이터 분리
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(X, Y, test_size=0.3, random_state=10)

# 모델학습 Linear Regression
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train, y_train)
y_train_predicted=model.predict(x_train)
y_test_predicted=model.predict(x_test)

dir(LinearRegression)
print(sklearn.linear_model.LinearRegression.__doc__)
print(model.intercept_)
print(model.coef_)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test)) # 데이터 작으니까 정확도도 ㅂㄹ 높지 않음ㅋ

    Ordinary least squares Linear Regression.

    LinearRegression fits a linear model with coefficients w = (w1, ..., wp)
    to minimize the residual sum of squares between the observed targets in
    the dataset, and the targets predicted by the linear approximation.

    Parameters
    ----------
    fit_intercept : bool, default=True
        Whether to calculate the intercept for this model. If set
        to False, no intercept will be used in calculations
        (i.e. data is expected to be centered).

    normalize : bool, default=False
        This parameter is ignored when ``fit_intercept`` is set to False.
        If True, the regressors X will be normalized before regression by
        subtracting the mean and dividing by the l2-norm.
        If you wish to standardize, please use
        :class:`~sklearn.preprocessing.StandardScaler` before calling ``fit``
        on an estimator with ``normalize=False``.

        .. deprecated:: 1.0
           `normalize` was deprecated in version 1.0 and will be
           removed in 1.2.

    copy_X : bool, default=True
        If True, X will be copied; else, it may be overwritten.

    n_jobs : int, default=None
        The number of jobs to use for the computation. This will only provide
        speedup in case of sufficiently large problems, that is if firstly
        `n_targets > 1` and secondly `X` is sparse or if `positive` is set
        to `True`. ``None`` means 1 unless in a
        :obj:`joblib.parallel_backend` context. ``-1`` means using all
        processors. See :term:`Glossary <n_jobs>` for more details.

    positive : bool, default=False
        When set to ``True``, forces the coefficients to be positive. This
        option is only supported for dense arrays.

        .. versionadded:: 0.24

    Attributes
    ----------
    coef_ : array of shape (n_features, ) or (n_targets, n_features)
        Estimated coefficients for the linear regression problem.
        If multiple targets are passed during the fit (y 2D), this
        is a 2D array of shape (n_targets, n_features), while if only
        one target is passed, this is a 1D array of length n_features.

    rank_ : int
        Rank of matrix `X`. Only available when `X` is dense.

    singular_ : array of shape (min(X, y),)
        Singular values of `X`. Only available when `X` is dense.

    intercept_ : float or array of shape (n_targets,)
        Independent term in the linear model. Set to 0.0 if
        `fit_intercept = False`.

    n_features_in_ : int
        Number of features seen during :term:`fit`.

        .. versionadded:: 0.24

    feature_names_in_ : ndarray of shape (`n_features_in_`,)
        Names of features seen during :term:`fit`. Defined only when `X`
        has feature names that are all strings.

        .. versionadded:: 1.0

    See Also
    --------
    Ridge : Ridge regression addresses some of the
        problems of Ordinary Least Squares by imposing a penalty on the
        size of the coefficients with l2 regularization.
    Lasso : The Lasso is a linear model that estimates
        sparse coefficients with l1 regularization.
    ElasticNet : Elastic-Net is a linear regression
        model trained with both l1 and l2 -norm regularization of the
        coefficients.

    Notes
    -----
    From the implementation point of view, this is just plain Ordinary
    Least Squares (scipy.linalg.lstsq) or Non Negative Least Squares
    (scipy.optimize.nnls) wrapped as a predictor object.

    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.linear_model import LinearRegression
    >>> X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
    >>> # y = 1 * x_0 + 2 * x_1 + 3
    >>> y = np.dot(X, np.array([1, 2])) + 3
    >>> reg = LinearRegression().fit(X, y)
    >>> reg.score(X, y)
    1.0
    >>> reg.coef_
    array([1., 2.])
    >>> reg.intercept_
    3.0...
    >>> reg.predict(np.array([[3, 5]]))
    array([16.])

24.849557650866593
[-0.08793334  0.00621739 -0.00550979  0.9689417  -2.51606157  0.0201505
  1.96311429  1.28871391 -1.49842691 -2.18628535  0.08060198]
0.9106100519574011
-0.08216275390854166

In [18]:
# RSME
from sklearn.metrics import r2_score
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_test_predicted))
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_test_predicted))

0.9106100519574011
-0.08216275390854166
2.6236762808027185
10.750204797327452

In [19]:
# random forest regressor
# 예측기 여러 개 만들어서 평균 만들기
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(random_state=10)
model.fit(x_train, y_train)
y_train_predicted=model.predict(x_train)
y_test_predicted=model.predict(x_test)
# RSME
from sklearn.metrics import r2_score
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_test_predicted))
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_test_predicted))

0.9818017334650142
0.5283247030400606
1.6908000000000083
4.685622400000037